body{
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Festive', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Redressed', cursive;
    line-height: 30px;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  .content{
    padding: 30px 50px;
  }
  h1, h2{
    line-height: 50px;
  }
  #top{
    height: 500px;
    color: white;
  }
  .top-img{
    position: absolute;
    z-index: -2;
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    opacity: 0.6;
  }
  img{
    width: 100%;
  }
  #top a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 30px;
  }
  #top a:hover{
    background-color: white;
    color: black;
  }
  .section1{
    background-color: #d3dded;
  }
  .section2{
    background-color: #333;
    padding: 20px;
  }
  .section2 .card{
    background-color: white;
    margin: 15px 0;
  }
  .section4{
    color: white;
  }
  .section4 .blue{
    background-color: skyblue;
  }
  .section4 .grey{
    background-color: #333;
  }
  footer{
    background-color: black;
    color: white;
    padding: 30px 0;
  }
  footer h3{
    margin: 0;
  }
  footer a{
    text-decoration: none;
    color: blue;
  }
  @media(min-width: 768px){
    #top .content{
      padding-top: 70px;
    }
    #top a{
      margin-top: 50px;
    }
    .section1 p{
      columns: 2;
      column-gap: 60px;
    }
    .section2{
      display: flex;
      padding: 20px 0;
    }
    .section2 .card{
      margin: 0 15px;
    }
    .section4{
      display: flex;
    }
    .section4 .content{
      flex: 1;
    }
    footer{
      display: flex;
    }
    footer .content{
      flex: 1;
    }
  
  }
  
  
  